.customCol {
  height: 93vh;
}

.boardContaier {
  max-width: 85vh;
  margin-top: 4vh;
}

.bgMain {
  background-color: #212529;
}

.activeInfo {
  background-color: #20e7c1;
}

.scrollMenu {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  display: none;
}

.scrollContent {
  background-color: #fff;
  border-radius: 0.3rem;
  position: relative;
  max-height: 50vh;
  overflow: auto;
}
